.container {
  position: relative;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  padding-bottom: 130px;
}
.name{
  position: absolute;
  margin-top: -175px;
}
.image {
  margin-top: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.title {
  margin-top: 50px;
  margin-left: 130px;
  width: 60%;
  letter-spacing: -2px;
  font-size: 3rem;
  border-bottom: #af4b5a solid 3px;
  color: #545454;
}
.grid {
  margin-left: 130px;

  width: 82%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grid h3 {
  font-weight: lighter;
  color: #939393;
}
.subtitle {
  margin-top: 10px;
  font-size: 1.3rem;
  color: #939393;
  font-weight: bold;
}
@media screen and (max-width: 950px) {
  .grid {
    display: flex;
    flex-direction: column;
    width: 72%;
  }
  .title {
    font-size: 2.5rem;
  }
  .container {
    position: relative;
    top: -400px;
  }
  .name{ margin-top: -400px;}
}
@media screen and (max-width: 750px) {
  .container {
    position: relative;
    top: -550px;
  }
  .grid {
    overflow: hidden;
    display: flex;
  }
}
